*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    background-color: black;
    background-position: centre;
    background-image: url("What-Is-Web-Development (1).png");
    background-position: center;
    height: 109vh;
    background-size: cover;

    
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    color:black;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: white;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    float: left;
    padding-left: 20px;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float:left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 10px;
    font-size: 20px;
}
ul li a {
    text-decoration:none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s case-in-out;

}
ul li a:hover{
    color:orangered;
}
.search{
    width: 330pxpx;
    float: left;
    margin-left: 270px;
}
.srch{
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background-color: transparent;
    border: 2px solid orangered;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    
}
.btn{
    width: 100px;
    height: 40px;
    background: orangered;
    border: 2px solid orangered;
    margin-top: 13px;
    border-left: none;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    
    
    
    
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.content{
    width: 1100px;
    height: auto;
    margin: auto;
    color:blue;
    position: relative;
}
.content .para{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
    line-height: 35px;
    
}
.content h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9px;

    letter-spacing: 2px;
}
.content.cn{
    width: 200px;
    height: 60px;
    background: orangered;
    border: none;
    margin-bottom: 10px;
    margin-left: 80px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    color: orangered;
}
.container.cn{
    text-decoration: none;
    color: black;
    transition:.3s ease
}
.cn:hover{
    background-color: white;
}
.form{
    width: 250px;
    height: 500px;
    background: linear-gradient(to top,rgba(0,0,0,0)50%,rgba(0,0,0,0)50%);
    position: absolute;
    top:-10px;
    left: 1010px;
    padding: 25px;
    background-color: #000000;

}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: orangered;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 240px;
    height: 30px;
    background: transparent;
    border-radius: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color:white ;
    font-family: Arial, Helvetica, sans-serif;
}
.btnn{
    width: 240px;
    height: 40px;
    background:orangered;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
.btnn:hover{
    background: white;
    color: orangered;
}
.btnn a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 18px;
    text-align: center;
}
.form .link a {
 text-decoration: none;
 color: orangered;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}